@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#header-background-mobile {
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;

  /* Neutrals/N0 */

  background: #fff;
}

#Toolbar-Dark-Compact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  left: 0;
  right: 0;
  bottom: 0;
}

#Logo-Placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 100px;
  height: 40px;
  left: 12px;
  top: calc(50% - 40px / 2);
}

#My-Logo {
  width: 76px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  /* identical to box height, or 111% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */

  color: #6070ff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#Normal-Button-Tertiary-Enabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

#Headline {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 24px;
  gap: 12px;
  left: calc(50% - 375px / 2);
  top: 92px;
  background-image: url("img/header-shapes-mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#Primary-Text {
  display: flex;
  width: 90%;
  margin-bottom: 0;
  margin-top: 60px;

  /* Header / 2 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  align-items: center;

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#Primary-Content {
  display: flex;
  width: 90%;
  margin-top: 0;

  /* Body / 2 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#Social-Media {
  /* Auto layout */

  display: flex;
  width: 90%;
  flex-direction: column;
  padding: 0;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

#Lets-Connect {
  /* Body / 2 - Bolder */
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#social-media-icons {
  display: flex;
  justify-content: space-between;
  width: 170.17px;
  height: 20px;
  list-style: none;

  /* Inside auto layout */
  padding: 0;
  margin: 0;
  flex: none;
  order: 3;
  flex-grow: 0;
}
.main-container{
  display: flex;
  flex-direction: column;
  gap: 88px;
}

.main-container-grid-item{
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 16px;
gap: 12px;


width: 327px;
height: 552px;

/* Neutrals/N0 */

background: #FFFFFF;
/* Neutrals/N40 */

border: 1px solid #DFE1E6;
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
 

 
  grid-area: 1 / 1 / 2 / 2;
}
.card{
  /* Card Works */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 16px;
gap: 12px;

/* Neutrals/N0 */

background: #FFFFFF;
/* Neutrals/N40 */

border: 1px solid #DFE1E6;
border-radius: 16px;

/* Inside auto layout */

flex: none;
flex-grow: 0;
}

.grid-container{
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
.grid-element { 
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 3 / 2;  
}


.project-title {
  /* Project Title */

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
/* or 138% */


/* Neutrals/N800 */

color: #172B4D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.frame-2 {
  /* Frame 2 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;
list-style: none;
width: 80%;
height: 32px;
justify-content: space-between;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.client {
  /* Client */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 8px 0px;




/* Inside auto layout */

flex: none;
flex-grow: 0;
}
.client p {

/* Caption / 1 - Bolder */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
/* identical to box height, or 123% */


/* Neutrals/N600 */

color: #344563;


/* Inside auto layout */

flex: none;
flex-grow: 0;
}

.role {
  /* Role */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 8px 0px;

width: 88px;
height: 32px;


/* Inside auto layout */

flex: none;

flex-grow: 0;
}

.role p {
  /* Caption / 1 - Bolder */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
/* identical to box height, or 123% */


/* Neutrals/N100 */

color: #7A869A;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.year-label {
  /* Year Label */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 8px 0px;




/* Inside auto layout */

flex: none;
flex-grow: 0;
}

.year-label p {
  
/* Caption / 1 - Bolder */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
/* identical to box height, or 123% */


/* Neutrals/N100 */

color: #7A869A;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.card-work-text {
  /* Body / 3 */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
/* or 160% */


/* Neutrals/N600 */

color: #344563;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.tags {
  /* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
list-style: none;
width: 65%;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.tag-html{
  
/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
align-content: center;
padding: 4px 12px;


height: 24px;

/* Primary/B50 */

background: #EBEBFF;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.tag-html p {
  
/* Button / Small */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
margin-left: 12px;
margin-right: 12px;
/* identical to box height, or 133% */

letter-spacing: 0.03em;

/* Primary/B400 */

color: #6070FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.tag-css {
  /* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
align-content: center;
padding: 4px 12px;
height: 24px;

/* Primary/B50 */

background: #EBEBFF;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.tag-css p {
  
/* Button / Small */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;

/* identical to box height, or 133% */

letter-spacing: 0.03em;

/* Primary/B400 */

color: #6070FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.tag-js {
  /* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 4px 12px;


height: 24px;

/* Primary/B50 */

background: #EBEBFF;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
.tag-js p {
  
/* Button / Small */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

letter-spacing: 0.03em;

/* Primary/B400 */

color: #6070FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.button-enable {
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;
width: 124px;
height: 48px;
left: 0px;


/* Primary/B400 */

border: 1px solid #6070FF;
border-radius: 8px;
flex: none;
order: 3;
flex-grow: 0;
}
