@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#header-background-mobile {
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;

  /* Neutrals/N0 */

  background: #fff;
}

#Toolbar-Dark-Compact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
}

#Logo-Placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 100px;
  height: 40px;
  left: 12px;
  top: calc(50% - 40px / 2);
}

#My-Logo {
  width: 76px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  /* identical to box height, or 111% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */

  color: #6070ff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#Normal-Button-Tertiary-Enabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

#Headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/header-shapes-mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: 100%;

}

#Primary-Text {
  display: flex;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 0;

  /* Header / 2 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  align-items: center;

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#Primary-Content {
  display: flex;
  
  width: 90%;

  /* Body / 2 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#Social-Media {
  /* Auto layout */
 
  display: flex;
  width: 90%;
  flex-direction: column;
  padding: 0;
 
  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

#Lets-Connect {
  /* Body / 2 - Bolder */
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#social-media-icons {
  display: flex;
  width: 90%;
  height: 20px;
  margin-bottom: 12px;
  
  /* Inside auto layout */

  background-color: aqua;
  flex: none;
  order: 3;
  flex-grow: 0;
}
#social-media-icons li{
list-style: none;
margin-top: 0;
margin-bottom: 0;


}